.callout {
  max-width: 500px;
  padding: 10px;
  border: 1px solid black;
  margin: 15px;
  background-color: rgb(12, 12, 112);
  color: white;
  font-size: 20px;
  font: bolder;

}

.callout img {
  float: right;
  padding: 3px;
  border: 1px solid white;
  margin: 0 0 10px 15px;
  width: 120px;
  height: auto;
}

blockquote {
  margin: 10px;
}

cite {
  display: block;
  border-top: 1px solid white;
  padding: 10px;
  text-align: end;
  font-size: 15px;
}